<!DOCTYPE html>
<html>
<head>
	<title>Nine Men's Morris</title>
	<style>
	#gameboard-container
	{
		margin:0 auto;
		width:800px;
	}
	</style>
</head>
<body>
	<div id="gameboard-container" >
		<div id="controls">

			<button v-on:click="reset"> Reset </button>
			<button v-on:click="undo"> Undo </button>

			<label for="ki_white">White:</label>
			<select id="ki_white" v-model="selectedAgentWhite">
				<option disabled value="">Please select one</option>
			  <option v-for="option in availableAgents" v-bind:value="option.id">
			    {{ option.name }}
			  </option>
			</select>

			<label for="ki_black">Black:</label>
			<select id="ki_black" v-model="selectedAgentBlack">
				<option disabled value="">Please select one</option>
			  <option v-for="option in availableAgents" v-bind:value="option.id">
			    {{ option.name }}
			  </option>
			</select>
			</div>

    <canvas id="gameboard"></canvas>

	</div>
</body>
</html>
